html, body {
  margin: 0;
  padding: 0;
}

.header {
  width: 100%;
  color: var(--accent-text);
  display: flex;
  flex-direction: column;
  box-shadow: 0px 1px 10px 2px rgba(0,0,0,0.3);
}

.title h2 {
  height: 100%;
  color: var(--accent);
  padding-top: 10px;
}

.title-search {
  display: flex;
  padding: 10px 20px;
  height: 50px;
}

.title {
  width: 20%;
  padding: 0 4vw;
}

.search-bar {
  margin: 10px 0px;
  width: 60%;
  padding: 0 10vw
}

.offline-mode-toggle {
  display: flex;
  width: 20%;
}

.filter-sort {
  display: flex;
  justify-content: space-between;
  padding: 10px 10vw;
}

.filter-source {
  height: 80%;
  width: 40%;
}

.filter-sentiment-and-credibility {
  width: 20%;
  padding: 10px;
}

.sort {
  width: 20%;
  padding: 10px;
}

.reset-button {
  width: 20%;
}

.news-card {
  text-align: left;
}

.dashboard-content {
  background: var(--bg);
  margin: 1% 5% 0%;
}

.information-panel img {
  width: 20vw;
  object-fit: cover;
}

#search-bar-textfield-helper-text {
  margin-top: 0px;
}

.body {
  background: var(--bg);
  margin: 1% 2% 0%;
}
